<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><title>Rule Detail</title></head>
<body>
<h1>Rule Detail</h1>
<pre><%= JSON.stringify(rule, null, 2) %></pre>
<a href="/rule_builder">Back</a>
</body>
</html>
