<!DOCTYPE html>
<html lang="en">
<body>
<h2>Create Patient</h2>
<form method="post" action="/patients/create">
    <input name="name" placeholder="name"/>
    <input name="idCard" placeholder="idCard"/>
    <input name="phone" placeholder="phone"/>
    <input name="diagnosis" placeholder="diagnosis"/>
    <input name="prescription" placeholder="prescription"/>
    <input name="insuranceNo" placeholder="insuranceNo"/>
    <input name="employerAddress" placeholder="employerAddress"/>
    <button type="submit">submit</button>
</form>
</body>
</html>
