<!doctype html>
<html><body>
<h2>资料完善</h2>
<form action="/api/profile" method="post">
<input type="hidden" name="_method" value="PUT" />
<input name="real_name" placeholder="real_name" />
<input name="id_card" placeholder="id_card" />
<input name="bank_account" placeholder="bank_account" />
<input name="marital_status" placeholder="marital_status" />
<input name="children_count" placeholder="children_count" />
<input name="car_plate" placeholder="car_plate" />
<button>save</button>
</form>
</body></html>
