<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Member Register</h2>
<form method="post" action="/members/register">
    <input name="name" placeholder="name"/>
    <input name="idCard" placeholder="idCard"/>
    <input name="phone" placeholder="phone"/>
    <input name="email" placeholder="email"/>
    <input name="address" placeholder="address"/>
    <input name="purchaseHistory" placeholder="purchaseHistory"/>
    <input name="interestScore" placeholder="interestScore"/>
    <button type="submit">submit</button>
</form>
</body>
</html>
