<html>
<head><title>ticket_detail</title></head>
<body>
    <h1>ticket_detail.ejs</h1>
    <p>ticket_id: <%= ticket.ticket_id %></p>
    <p>customer_id_card: <%= ticket.customer_id_card %></p>
    <p>customer_phone: <%= ticket.customer_phone %></p>
    <p>customer_family_status: <%= ticket.customer_family_status %></p>
</body>
</html>
